.panel-body
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }, wrapper: :vertical_form) do |f|
    = f.input :reset_password_token, :as => :hidden
    = f.input :password, :label => "Nova senha", :required => true, :autofocus => true
    = f.input :password_confirmation, :label => "Repita a nova senha", :required => true
    button.btn-success.btn.btn-block type="submit"
      | Salvar nova senha
    .clearfix
  .text-center
    hr.hr-normal
       = link_to "Acessar área de login", new_admin_session_path
