.panel-body
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }, wrapper: :vertical_form) do |f|
    p Para prosseguir por favor digite seu email no campo abaixo que enviaremos as instrucões para recuperação da sua senha
    br/
    = f.input :email, :required => true, :autofocus => true
    button.btn-success.btn.btn-block type="submit"
      | Recuperar minha senha
    .clearfix
  .text-center
    hr.hr-normal
       = link_to "Acessar área de login", new_admin_session_path
