.panel-body
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), wrapper: :vertical_form) do | f |
    = f.input :email, :autofocus => true
    = f.input :password
    = f.input :remember_me, as: :boolean, label: 'Mantenha-me conectado', wrapper: :horizontal_boolean_full_width
    button.btn-success.btn.btn-block Entrar
  .text-center
    hr.hr-normal
       = link_to "Esqueceu sua senha?", new_admin_password_path
