| <!DOCTYPE html>
html
  head
    = stylesheet_link_tag    'homer/init', media: 'all'
    = javascript_include_tag 'init_admin', media: 'all'
    = csrf_meta_tags

  body.pace-done.cpy-logged-pannel class="#{classes_for_scoped_css}"
    .splash
      .color-line
        .splash-title
          h1 Codus Store
    #header
      #logo.light-version
        span
          | Codus Store
      nav role="navigation"
        .small-logo
          .text-primary Codus Store
        .navbar-right
          ul.nav.navbar-nav.no-borders

            li.dropdown
              a class="dropdown-toggle" href="#" data-toggle="dropdown"
                = icon_for :user
              ul class="dropdown-menu hdropdown notification animated flipInX"
                li
                  = link_to '3' do
                    span.label.label-success
                      | Mostrar
                    | Associações
                li
                  = link_to '3' do
                    span.label.label-danger
                      | Deletar
                    | Associações
                li
                  = link_to destroy_admin_session_path, method: :delete do
                    = icon_for :signout
                    |  Sair

    .small-header.transition.animated.fadeIn
      .hpanel
        ul.list-inline.top-menu.clearfix
          li
            = link_to admin_categories_path do
              = icon_for(:category)
              span Categorias
          li
            = link_to destroy_admin_session_path, method: :delete do
              span Logout
    #wrapper
      = display_flash_message
      .content
        = yield
    .panel-footer
      .col-sm-12.text-center
        | Codus Store

