<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hpanel">
          <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                  <li>Selecione uma categoria:</li>
                  <li>
                    <select>
                      <option>Todas</option>
                      <option>Sabão</option>
                      <option>Eletrodoméstico</option>
                    </select>
                  </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Produtos
            </h2>
            <small>Os melhores preços você encontra aqui!</small>
          </div>
      </div>
      </div>
    </div>
    <div class="row">
      <% 6.times do %>
        <div class="col-md-3">
          <div class="hpanel hgreen contact-panel">
            <div class="panel-body">
                <span class="label label-success pull-right">CATEGORIA SABÃO</span>
                <img alt="logo" class="img-circle m-b" src="http://www.unilever.co.za/Images/Omo_Multi_450x450_tcm84-293979.gif">
                <h3><a href="">Omo Multiação</a></h3>
                <p>
                    O melhor para a dona de casa
                </p>
            </div>
            <div class="panel-footer contact-footer">
                <div class="row">
                  <div class="col-md-12 border-right animated-panel zoomIn" style="animation-delay: 0.2s;"> <div class="contact-stat"><strong>R$ 200,00</strong></div> </div>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</section>
