.hpanel
  .panel-body
    h2.font-light.m-b-xs
      | Listando Categorias
      = link_to "Adicionar", new_admin_category_path, class: 'pull-right btn btn-md btn-success'

.ibox
  .ibox-content
    - if @categories.any?
      .cpy-pagination-wrapper
        = pagination_themed(@categories)
        table.table.table-bordered.table-hover.table-striped.cpy-table
          thead
            th ID
            th Nome
            th
          tbody
            - @categories.each do |category|
              tr.cpy-line-course
                td = category.id
                td = category.name
                td.text-center
                  = link_to(admin_category_path(category.id), class: 'btn btn-xs btn-success') do
                    | Mostrar
                  | &nbsp;
                  = link_to(edit_admin_category_path(category.id), class: 'btn btn-xs btn-warning') do
                    | Editar
                  | &nbsp;

                  = link_to(admin_category_path(category.id), class: 'btn btn-xs btn-danger', method: :delete, 'data-confirm' => 'Deseja mesmo remover a categoria?') do
                    | Remover

        = pagination_themed(@categories)

    - else
      .alert.alert-info
        | Não existe nenhuma Categoria cadastrada.&nbsp;
        = link_to "Clique aqui para adicionar uma categoria", new_admin_category_path
