.hpanel
  .panel-body
    h2.font-light.m-b-xs
      | Detalhes categoria
.ibox.ibox-double-padding
  .ibox-content
    = show_for @category do |sf|
      = sf.attribute :id
      = sf.attribute :name
    = show_buttons_section
