| <!DOCTYPE html>
html
  head
    = stylesheet_link_tag    'homer/init', media: 'all'
    = stylesheet_link_tag    'init_public', media: 'all'
    = javascript_include_tag 'init_public', media: 'all'
    = csrf_meta_tags


  body.landing-page class="#{classes_for_scoped_css}"
    nav.navbar.navbar-default.navbar-fixed-top.js-navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          = link_to new_admin_session_path, class: 'navbar-link login-link' do
            | Login

        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-left
            li
              a href="#home" class="active" link-scroll=''
                | Home

    = yield
- if flash[:modal]
  javascript:
    $("#js-modal-login").modal("show");
