- content_for(:title) { "Recuperação de senha" }
tr
  td.reset-pw-txt align="center" style="border-top: 1px solid #dce1e5; border-bottom: 1px solid #dce1e5;"  valign="top"
    h4 style="margin-top: 10px"
      = I18n.t("mailer.reset_password_instructions.greetings")
    p
      = I18n.t("mailer.reset_password_instructions.received")
    p
      = I18n.t("mailer.reset_password_instructions.explanation")
tr
  td.button
    = link_to I18n.t("mailer.reset_password_instructions.reset_button"), edit_authentication_passwords_url(@resource, :reset_password_token => @token), class: "btn-success"
tr
  td.reset-pw-txt align="center" valign="top"
    p
      = I18n.t("mailer.reset_password_instructions.not_asked_email")
