head
  css:
    #outlook a {padding:0;}
    body {width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
    .ExternalClass {width:100%;}
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
    #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
    img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
    a img {border:none;}
    .image_fix {display:block;}
    p {margin: 1em 0;}
    h1, h2, h3, h4, h5, h6 {color: black !important;}
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: blue !important;}
    h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
        color: red !important; /* Preferably not the same color as the normal header link color.  There is limited support for psuedo classes in email clients, this was added just for good measure. */
    }
    h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
        color: purple !important; /* Preferably not the same color as the normal header link color. There is limited support for psuedo classes in email clients, this was added just for good measure. */
    }
    table td {border-collapse: collapse;}
    table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
    a {color: orange;}
    a:link { color: orange; }
    a:visited { color: blue; }
    a:hover { color: green; }
    td.button {
      vertical-align: middle;
      text-align: center;
      background: #0163ac;
      border-radius: 5px;
    }
    td.button a {
      display: block;
      color: #ffffff !important;
      padding: 15px 0;
      cursor: pointer;
      text-decoration: underline;
    }
    h2 {
      color: #1AB394 !important;
      text-transform: uppercase;
      font-weight: lighter;
    }
    td.reset-pw-txt p {
      font-family:  'Helvetica Neue', Helvetica, Arial;
      font-size: 15px;
      color: #676A6C;
    }

    .btn-success {
      background-color: #62cb31;
      border-color: #62cb31;
      color: #FFFFFF;
      text-decoration: none !important;
    }


body style="background: #f4f7f9; font-family:Helvetica Neue, Helvetica, Arial;"
  table#backgroundTable align="center" bgcolor="#f4f7f9" border="0" cellpadding="0" cellspacing="0" style="background: #f4f7f9; font-family:Helvetica Neue, Helvetica, Arial;" width="100%"
    tr
      td align="center"
        center
          table border="0" cellpadding="50" cellspacing="0" style="margin-left: auto;margin-right: auto;width:600px;text-align:center;" width="600"
            tr
              td align="center" valign="top"
                h1 Codus Logo
                / = image_tag(image_url('logo.gif'), style: "outline:none; text-decoration:none;border:none,display:block;")
    tr
      td align="center"
        center
          table border="0" cellpadding="30" cellspacing="0" style="margin-left: auto;margin-right: auto;width:600px;text-align:center;" width="600"
            tr
              td align="left" style="background: #ffffff; border: 1px solid #dce1e5;" valign="top" width=""
                table border="0" cellpadding="0" cellspacing="0" width="100%"
                  tr
                    td align="center" valign="top"
                      h2 = yield(:title)
                  tr
                    td align="center" valign="top"
                      h4 style="color: #f34541 !important" = yield(:subtitle)
                  = yield
