| <!DOCTYPE html>
html
  head
    = stylesheet_link_tag    'homer/init', media: 'all'
    = javascript_include_tag 'init_company', media: 'all'
    = csrf_meta_tags

  body.blank
    .login-container
      .row
        .col-md-12
          .text-center.m-d-md
            h3 Codus Store
          .hpanel
            = display_flash_message
            = yield
